body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1000000;

	margin: 0;

	font-family: 'Roboto', sans-serif;
}

.header {
	padding-top: 20px;
	padding-bottom: 32px;
	text-align: center;

}

.header img {
	width: 30px;
	height: 30px;
	margin: 0;
	padding-left: 2px;
	padding-right: 2px;
}

.header p {
	padding-top: 10px;
	margin-bottom: 0;
	margin-top: 8px;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 36px;
}

.logo img {
	width: 400px;
	height: 400px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button a {
	background-color: #C4C4C4;
	color: #151515;

	width: 338px;

	text-decoration: none;
	display: inline-block;
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button a:hover {
	background-color: #ABABAB;
}

.todo_list {
	width: 400px;
	max-height: 352px;


	display: flex;
	flex-direction: column;
	align-self: flex-start;


	margin-left: 50px;
	padding-bottom: 28px;
	padding-top: 20px;

	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

	overflow-y:scroll; 
	overflow-x:hidden;
}

.footer {
	position: absolute;
	bottom: 16px;
	right: 20px;


}
/*.footer {
	display: flex;
	align-items: flex-end;
  	justify-content: flex-end;
  	margin-right: 20px;
  	margin-bottom: 16px
}
*/
.footer a {
	font-size: 13px;
	color: black;
}

.footer img {
	width: 40px;
	height: 20px;
}

input {
	font-size: 16px;
	color: black;

	width: 368px;
	border: 0;

	margin: 8px 8px 8px 16px;
	padding: 10px 0px 6px 4px;

	background: white no-repeat;

	background-size: 0 2px, 100% 2px;
	background-position: 0% 100%, 0% 100%;

	transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}

input:focus {
	background-size: 100% 2px, 100% 2px;
	outline: none;
}

.previous_input {
	background-image: linear-gradient(0.25turn, #F1420B, #F5E155, #FFA826), linear-gradient(to bottom, white, white);
}

.last_input {
	border: none;
	border-bottom: 2px solid white;
	outline: none;

	background-image: linear-gradient(0.25turn, #F1420B, #F5E155, #FFA826), linear-gradient(to bottom, #eee, #eee);
}

.last_input:focus {
	border-bottom: 2px solid white;
}

::-webkit-scrollbar {
	width: 0px;
}