	body {
		display: flex;
		flex-direction: column;
		overflow-y:scroll; 
		overflow-x:hidden;
		position: absolute;
		height: auto;
	}

	.header p {
		padding-bottom: 5px;
	}
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		margin-bottom: 20px;
		margin-top: 20px;
	}

	.todo_list {
		order:1;
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: flex-start;
		width: 400px;
		height: 352px;


		display: flex;
		flex-direction: column;
		padding-bottom: 28px;
		padding-top: 20px;
		margin-left: 0;
		margin-bottom: 20px;

		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

		overflow-y:scroll; 
		overflow-x:hidden;
	}

	.footer {
		order: 5;
		position: static;
		margin-top: 10px;
		margin-bottom: 16px;
		bottom: 0px;
		text-align: center;

	}
	.header {
		order: 0;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}

	.logo {
		order:3;
	}

	.logo img {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	.button {
		order: 4;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}

	.button a {
		background-color: #C4C4C4;
		color: #151515;

		width: 338px;

		text-decoration: none;
		display: inline-block;
		padding-top: 13px;
		padding-bottom: 13px;
		font-size: 22px;
		font-weight: bold;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		border: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	.button a:hover {
		background-color: #ABABAB;
	}


	.footer a {
		font-size: 15px;
	}

	.footer img {
		width: 50px;
		height: 24px;
	}
}
