input {
	font-size: 12px;

	width: 280px;
	margin: 8px 0px 8px 5px;
	padding: 10px 0px 6px 4px;
}

.todo_list {
	width: 300px;
	max-height: 340px;

	padding-bottom: 5px;
	padding-top: 5px;

	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

	overflow-y:scroll; 
	overflow-x:hidden;

	display: flex;
	align-items: center;
	justify-content: center;
}

.header p {
		padding-bottom: 10px;
}

.logo img {
	height: 300px;
	width: 300px;
}

.button a {
	width: 250px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 18px;
}

.main {
	margin-top: 0;
}


