input {
	font-size: 12px;
	color: black;

	width: 300px;
	margin: 8px 5px 8px 5px;
	padding: 10px 0px 6px 4px;
}

.todo_list {
	width: 340px;
	max-height: 350px;


	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: flex-start;

	padding-bottom: 10px;
	padding-top: 10px;

	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

	overflow-y:scroll; 
	overflow-x:hidden;
}

.header p {
		padding-bottom: 5px;
	}
